@model IEnumerable<PlanoDeAcao.Models.Parecer>

@{
    ViewData["Title"] = "Parecer Tecnico";
}

<h1>Parecer Tecnico</h1>

<p>
    <button class="btn btn-primary" asp-action="Create" name="theme" value="_Layout2">Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                Data Visita
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visita.DataVisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visita.Cliente.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Detahes</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
